/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.headerIcon {
  margin-top: 40px;
  margin-left: 40px;
  width: 280px;
  height: 55px;
}

@media screen and (max-width: 1080px) {
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
  }

  .headerIcon {
    margin-top: 20px;
    margin-left: 20px;
    /* width: 193px;
    height: 50px; */
    width: 212px;
    height: 55px;
  }
}
