/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.headerContainer {
  margin-top: 40px;
  margin-left: 40px;
}

.headerIcon {
  width: 280px;
  height: 55px;
}

.burgerContainer {
  display: none;
}

@media screen and (max-width: 1080px) {
  /* Header */
  .headerMobileContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--color-lightblue);
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer {
    margin-top: 20px;
    margin-left: 20px;
  }

  .headerIcon {
    width: 212px;
    height: auto;
  }

  .burgerContainer {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
