.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 100vh;
}

.heroPage {
  display: flex;
  flex-direction: row;
  /* max-width: 1440px; */
  /* align-self: center; */
}

.mainContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 100vh;
}

/* Content */
.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 170px;
  margin-left: 40px;
  margin-right: 40px;
}

.container1 {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

.pageHeader {
  font-size: 38px; /* 48 normal size */
  font-family: "Libre Bodoni";
  color: var(--color-mediumblue);
  width: 250px;
  margin: 0;
  margin-bottom: 20px;
}

.smallText {
  font-size: 16px; /* 20 normal size */
  letter-spacing: 0.02em;
  line-height: 38px;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  width: 270px;
  margin: 0;
}

.text1 {
  font-size: 26px; /* 32 normal size */
  letter-spacing: 0.02em;
  line-height: 44px; /* 48 normal size */
  font-weight: 300;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
  width: 425px;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.text2 {
  font-size: 26px; /* 32 normal size */
  letter-spacing: 0.02em;
  line-height: 44px; /* 48 normal size */
  font-weight: 300;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: center;
  margin: 0;
  width: 650px;
}

.linkToSpeakerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 28px;
  text-decoration: none;
  color: var(--color-mediumblue);
  width: fit-content;
}

.linkToSpeakerContainer:hover {
  text-decoration: underline;
}

.linkToSpeaker {
  font-size: 18px;
  letter-spacing: 0.18em;
  line-height: 20px;
  font-family: Poppins;
  color: var(--color-mediumblue);
  font-weight: 600;
  margin: 0;
}

.arrowCircleRightIcon {
  width: 28px;
  height: 28px;
}

/* Mobile & Smaller screen */
@media screen and (max-width: 1080px) {
  .page {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* .heroPage {
  } */

  .mainContainer {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }

  /* Content */
  .heroContainer {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: unset;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 100%;
  }

  .pageHeader {
    font-size: 32px;
    font-family: "Libre Bodoni";
    color: var(--color-mediumblue);
    width: 200px;
    margin: 0;
    margin-bottom: 20px;
  }

  .smallText {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-family: Poppins;
    color: var(--color-darkblue);
    font-weight: 300;
    text-align: left;
    /* width: 320px; */
    width: 100%;
    margin: 0;
  }

  .text1 {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 32px;
    font-weight: 300;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
    /* width: 295px;
    margin-left: 20px;
    margin-right: 20px; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: unset;
  }

  .text2 {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 32px;
    font-weight: 300;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
    /* width: 300px; */
    width: 100%;
  }

  .linkToSpeakerContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    height: 40px;
    text-decoration: none;
  }

  .linkToSpeakerContainer:hover {
    text-decoration: none;
  }

  .linkToSpeaker {
    font-size: 12px;
    letter-spacing: 0.18em;
    line-height: 20px;
    font-family: Poppins;
    color: var(--color-mediumblue);
    font-weight: 600;
    margin: 0;
    width: 150px;
  }

  .arrowCircleRightIcon {
    width: 24px;
    height: 24px;
  }
}
