.menuSidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
  height: 100%;
}

.menuText {
  font-size: 16px;
  letter-spacing: 0.18em;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: right;
  opacity: 0.8;
  margin: 0;
  text-decoration: none; /* tanya daniel mau hovernya gmn */
}

/* Mobile & Smaller screen */
@media screen and (max-width: 1080px) {
  .menuSidebar {
    display: none;
  }
}
