.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 100vh;
}

.heroPage {
  display: flex;
  flex-direction: row;
  /* max-width: 1440px; */
  /* align-self: center; */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 100vh;
}

/* Content */
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 170px;
  margin-left: 40px;
  margin-right: 40px;
  flex: 1 0;
}

/* Top Content */
.content {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  gap: 135px;
}

.pageHeaderContainer {
  margin-bottom: 40px;
  width: 400px;
}

.pageHeader {
  font-size: 64px; /* 80 normal size */
  font-family: "Libre Bodoni";
  color: var(--color-mediumblue);
  text-align: left;
  margin: 0;
}

.textContainer {
  margin-bottom: 24px;
  width: 700px;
}

.text {
  font-size: 26px; /* 32 normal size */
  letter-spacing: 0.02em;
  line-height: 44px; /* 48 normal size */
  font-weight: 300;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
}

.contactText {
  font-size: 20px; /* 24 normal size */
  line-height: 40px; /* 48 normal size */
  font-weight: 500;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
}

.span {
  text-decoration: underline;
}

/* Bottom Content */
.bottomContent {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.text2 {
  font-size: 32px; /* 40 normal size */
  line-height: 48px; /* 58 normal size */
  font-weight: 300;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
  width: 500px;
}

.text3 {
  font-size: 20px; /* 24 normal size */
  letter-spacing: 0.02em;
  line-height: 42px; /* 48 normal size */
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
  width: 500px;
}

.irecBranch {
  display: grid;
  grid: auto auto auto / auto auto;
  grid-gap: 40px 150px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 28px;
  margin-bottom: 10px;
}

.irecBranchName {
  font-size: 18px;
  letter-spacing: 0.18em;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
  margin: 0;
}

.arrowCircleRightIcon {
  width: 28px;
  height: 28px;
}

.contactPersonDetails {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 36px;
  font-family: Poppins;
  color: var(--color-darkblue);
  text-align: left;
}

/* Mobile & Smaller screen */
@media screen and (max-width: 1080px) {
  .page {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* .heroPage {
  } */

  .mainContainer {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }

  /* Content */
  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: unset;
    margin-top: 50px;
    margin-bottom: 72px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 0;
  }

  /* Top Content */
  .content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 75px;
  }

  .pageHeaderContainer {
    margin-bottom: 20px;
    width: unset;
  }

  .pageHeader {
    font-size: 24px;
    font-family: "Libre Bodoni";
    color: var(--color-mediumblue);
    text-align: left;
    margin: 0;
  }

  .textContainer {
    margin-bottom: 20px;
    width: 100%;
  }

  .text {
    font-size: 22px;
    letter-spacing: 0.02em;
    line-height: 32px;
    font-weight: 300;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
  }

  .contactText {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
  }

  .span {
    text-decoration: underline;
  }

  /* Bottom Content */
  .bottomContent {
    display: flex;
    flex-direction: column;
    gap: unset;
    max-width: 100%;
  }

  .dandelionImage {
    display: none;
  }

  .text2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
  }

  .text3 {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
  }

  /* This is the point of problem why there is increse in margin 20  */
  .irecBranch {
    display: flex;
    grid: unset;
    grid-gap: unset;
    flex-direction: column;
    gap: 32px;
    width: 280px;
  }
  /*  */

  .linkContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 28px;
    margin-bottom: 8px;
  }

  .irecBranchName {
    font-size: 16px;
    letter-spacing: 0.18em;
    line-height: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
    margin: 0;
  }

  .arrowCircleRightIcon {
    width: 24px;
    height: 24px;
  }

  .contactPersonDetails {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-family: Poppins;
    color: var(--color-darkblue);
    text-align: left;
  }
}
