.mainContainer {
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
}

.headerIcon {
  margin-top: 40px;
  margin-left: 40px;
}

.stampIcon {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transform: rotate(15deg);
}

/* Main Content */
.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 100px;
}

.titleImage {
  margin-left: 120px;
  border: 1px solid red;
}

.info {
  width: 320px;
  margin-right: 40px;
}

.date,
.venue {
  margin-bottom: 35px;
}

.textHeader {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  font-family: Poppins;
  color: #0047ff;
  text-align: left;
  margin: 0;
}

.text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: left;
  margin: 0;
}

.contact {
  border-top: 1px solid var(--color-darkslateblue);
}

.contactText {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: left;
  margin: 0;
}

.span {
  text-decoration: underline;
}

.germanyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Footer */
.footer {
  display: flex;
  border-top: 1px solid red;
}

.instagram {
  height: 24px;
  width: 107px;
  margin-left: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.youtube {
  height: 24px;
  width: 119px;
  margin-left: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.instagramLink,
.youtubeLink {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-darkslateblue);
}

.instagramLink:hover,
.youtubeLink:hover {
  color: #000;
}
