.mainContainer {
  position: relative;
  background-color: #d0ddff;
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue);
  font-family: var(--font-poppins);
}

.headerIcon,
.titleIcon {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 204.5px;
  height: 40px;
}
/* .titleIcon {
  height: 61.7%;
  width: 50%;
  top: 24.31%;
  right: 40.63%;
  bottom: 13.99%;
  left: 9.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
} */

.instagram {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 107px;
  height: 24px;
}

.instagramIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.ireceurope {
  position: absolute;
  top: 2px;
  left: 32px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-darkslateblue);
}
.ireceurope:hover {
  color: #000;
}

.youtube {
  position: absolute;
  bottom: 40px;
  left: 171px;
  width: 119px;
  height: 24px;
}
.youtubeIcon {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  width: 24px;
  height: 16.8px;
}
.irecInEurope {
  position: absolute;
  top: calc(50% - 10px);
  left: 32px;
  font-weight: 500;
  color: var(--color-darkslateblue);
}
.irecInEurope:hover {
  color: #000;
}

.info {
  position: absolute;
  right: 40px;
  bottom: 216px;
  width: 320px;
  height: 332px;
  font-size: var(--font-size-13xl);
  color: var(--color-mediumblue);
}

.dateText {
  top: 0;
  line-height: 48px;
  text-transform: uppercase;
}
.dateText,
.march29Text,
.venueText {
  position: absolute;
  left: 0;
  font-weight: 500;
}
.march29Text {
  top: 52px;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 320px;
}
.venueText {
  top: 120px;
  line-height: 48px;
  text-transform: uppercase;
}
.location {
  position: absolute;
  top: 172px;
  left: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 320px;
}
.text {
  margin: 0;
}

.arrowCircleRightIcon {
  position: absolute;
  top: 300px;
  left: 124px;
  width: 32px;
  height: 32px;
}

.contact {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 320px;
  height: 136px;
  font-size: 16px;
}
.lineAboveContact {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.contactHeader {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: var(--font-size-13xl);
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-mediumblue);
}
.contactPersonContainer {
  position: absolute;
  top: 72px;
  left: 0;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.span {
  text-decoration: underline;
}

.stampIcon {
  position: absolute;
  height: 21.16%;
  width: 11.61%;
  top: 1.39%;
  right: 0.77%;
  bottom: 77.45%;
  left: 87.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(15deg);
}

.stamp {
  height: 270px;
  left: 1610px;
  position: absolute;
  top: 40px;
  transform: rotate(15deg);
  width: 272px;
}

@media (min-height: 720px) {
  .instagram {
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 107px;
    height: 24px;
  }
  .youtube {
    position: fixed;
    bottom: 40px;
    left: 171px;
    width: 119px;
    height: 24px;
  }
}
