.mainContainer {
  margin: auto;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.headerIcon {
  margin-top: 40px;
  margin-left: 40px;
  width: 280px;
  height: 55px;
}

/* Main Content - Title Image */
/* .mainContent {
  display: flex;
  flex-direction: column;
} */

.homeContent {
  display: flex;
  /* flex-direction: row; */
  /* flex: 1; */
  height: 700px;
}

.titleContainer {
  margin: 0 auto; /* Center the container horizontally */
  align-self: center;
  position: relative; /* Essential for child absolute positioning */
  width: 100%; /* Use this to control the width of your container */
  max-width: 720px;
  max-height: 500px;
}

.titleImage {
  max-width: 720px;
  max-height: 500px;
  display: block; /* Remove bottom space inherent to inline images */
}

.registerButtonContainer {
  position: absolute; /* Absolute positioning relative to the container */
  top: 73%; /* 73% from the top will position the button's top edge at the center */
  left: 53%; /* 53% from the left will position the button's left edge at the center */
  transform: translate(
    -50%,
    -50%
  ); /* Shifts the button back by half its width and height */
}

.registerButton {
  border: 3px solid #0047ff;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.18em;
  line-height: 20px;
  font-family: Poppins;
  color: #0047ff;
  padding: 7px 20px;
  font-weight: 600;
  text-decoration: none;
}

.registerButton:hover {
  border: 4px solid #000;
  color: #000;
}

/* Main Content - Location & Info */
.info {
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date,
.venue,
.contact {
  margin-bottom: 90px;
}

.textHeader {
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
  font-family: Poppins;
  color: #0047ff;
  text-align: left;
  margin: 0;
}

.text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: left;
  margin: 0;
}

.germanyTextWithIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 28px;
}

.arrowCircleRightIcon {
  width: 28px;
  height: 28px;
}

.contactText {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: left;
  margin: 0;
}

.span {
  text-decoration: underline;
}

/* Main Content - Fee Info */
.feeInfo {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.normalFee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ageContainer {
  border-top: 1px solid #2a4385;
  border-left: 1px solid #2a4385;
  border-bottom: 1px solid #2a4385;
  width: 25%;
  height: 220px;
  position: relative;
}

.ageContainer:last-child {
  border-right: 1px solid #2a4385;
}

.ageFeeDetails {
  line-height: 28px;
  color: #2a4385;
  text-align: left;
  font-family: "Libre Bodoni";
  margin-top: 30px;
  margin-left: 20px;
}

.ageText {
  font-size: 36px;
  margin: 0;
}

.ageSmallText {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.priceContainer {
  position: absolute;
  line-height: 68px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
  right: 20px;
  bottom: 10px;
}

.eurText {
  font-size: 28px;
  margin: 0;
}

.priceText {
  font-size: 52px;
  letter-spacing: -0.04em;
  margin: 0;
}

.earlyBirdFee {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #2a4385;
  color: #fff;
}

.earlyBirdFeeDetails {
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
}

.earlyBirdText {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  font-family: "Libre Bodoni";
  margin: 0;
}

.earlyBirdSmallText {
  font-size: 20px;
  line-height: 28px;
  font-family: Poppins;
  margin: 0;
}

.feeDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 20px 0 20px;
  gap: 40px;
}

.feeDescriptionText {
  margin: 0;
  width: 50%;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-family: Poppins;
  color: #2a4385;
  text-align: left;
}

.comeAndJoinUs {
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 64px;
  font-weight: 500;
  font-family: Poppins;
  color: #2a4385;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 160px;
}

.comeAndJoinUsText {
  margin: 0;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.socialMedia {
  display: flex;
  margin-left: 40px;
  margin-bottom: 40px;
  gap: 24px;
}

.instagram {
  display: flex;
  align-items: center;
  gap: 8px;
}

.youtube {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instagramLink,
.youtubeLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-darkslateblue);
  font-family: Poppins;
}

.learnAboutIRECLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-darkslateblue);
  margin-right: 40px;
  margin-bottom: 40px;
  font-family: Poppins;
}

.instagramLink:hover,
.youtubeLink:hover,
.learnAboutIRECLink:hover {
  color: #000;
}

/* Mobile & Smaller screen */
@media screen and (max-width: 1000px) {
  .mainContainer {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
  }

  .headerIcon {
    margin-top: 20px;
    margin-left: 20px;
    width: 193px;
    height: 50px;
  }

  .stamp {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: rotate(15deg);
    width: 84px;
    height: 87px;
    position: relative;
  }

  .stampFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 87px;
    animation: rotateInfinite 25s linear infinite;
  }

  .stampContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 87px;
  }

  /* Main Content */
  .mainContent {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;
    flex: unset;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .titleImage {
    margin-left: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    flex: unset;
    align-self: unset;
  }

  .info {
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: unset;
  }

  .date,
  .venue {
    margin-bottom: 24px;
  }

  .textHeader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: Poppins;
    color: #0047ff;
    text-align: left;
    margin: 0;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #2a4385;
    text-align: left;
    margin: 0;
  }

  .arrowCircleRightIcon {
    width: 24px;
    height: 24px;
  }

  .contactText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #2a4385;
    text-align: left;
    margin: 0;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .instagram {
    width: 139px;
    height: 32px;
    margin-left: 20px;
    margin-bottom: unset;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .youtube {
    width: 151px;
    height: 32px;
    margin-left: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .instagramLink,
  .youtubeLink {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-darkslateblue);
  }
}
